.borrower-credits {
    display: flex;
    @include clamp(gap, 8, 12);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-bottom: -30px;

    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

.credit-card {

    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    border-radius: 16px;
    background: rgba($color: $colorBlack, $alpha: .04);

    user-select: none;
    -webkit-user-drag: none;

    text-wrap: nowrap;

    // .credit-card_active
    &:hover,
    &_active {
        background: $colorWhite;
        box-shadow: $shadowDefault;
    }

    // .credit-card__title
    &__title {
        white-space: nowrap;
        text-wrap: nowrap;
    }

    // .credit-card__value
    &__value {
        white-space: nowrap;
        text-wrap: nowrap;
    }
}
