
.details {

    background: $colorWhite;
    padding: 12px 24px 24px;
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (max-width: $breakpoint768) {
        @include width100vw;
        border-radius: 0;
        padding: 8px 16px 16px;
    }

    // .details__tabs
    &__tabs {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        border-bottom: 1px solid $colorBorder;

        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;

        @media screen and (max-width: $breakpoint768) {
            @include width100vw;
            padding: 0 16px;
        }
    }

    // .details__tab
    &__tab {

        padding: 12px 0;
        border-bottom: 2px solid transparent;

        white-space: nowrap;
        text-wrap: nowrap;
        user-select: none;
        -webkit-user-drag: none;

        &:hover {
            color: $colorText1;
            border-bottom: 2px solid $colorBorder;
        }

        // .details__tab_active
        &_active {
            color: $colorText1;
            border-bottom: 2px solid $colorRed;
        }
    }

    // .details__nav
    &__nav {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $breakpoint576) {
            width: 100%;
            flex-direction: column;
            align-items: unset;
            gap: 20px;
        }
    }

    // .details__filters
    &__filters, &__btns, &__selects {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }

    &__filters {
        @media screen and (max-width: $breakpoint576) {

            flex-wrap: nowrap;
            padding: 30px;
            margin: -30px;

            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            scrollbar-width: none;

            & > * {
                text-wrap: nowrap;
                user-select: none;
                -webkit-user-drag: none;
                flex-shrink: 0;
            }
        }
    }

    &__selects {
        @media screen and (max-width: $breakpoint576) {

            flex-direction: column;
            align-items: unset;
            width: 100%;
        }
    }

    &__btns {
        @media screen and (max-width: $breakpoint576) {
            width: 100%;
            flex-direction: column;
            align-items: unset;
            gap: 4px;

            .btn {
                padding: 10px;
                gap: 8px;
                @include text-m_bold;

                svg {
                    width: 24px;
                    height: auto;
                }
            }
        }
    }

    &__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: clamp(300px, 53vw, 530px);
    }

    &__map {
        height: 210px;
        width: 100%;
        border-radius: 12px;
        border: 1px solid $colorBorder;
    }
}

.details-table-wrapper {
    width: 100%;
    @include scrollX;

    @media screen and (max-width: $breakpoint768) {
        display: none;
    }
    
}

.details-table {

    min-width: 100%;
    border-collapse: collapse;
    text-wrap: nowrap;
    white-space: nowrap;

    th {
        color: $colorText2;
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid $colorBorder;
        font-weight: 400;
    }

    td {
        color: $colorText1;
        padding: 12px;
        border-bottom: 1px solid $colorBorder;

        &.details-table__nested {
            padding: 0;
        }
    }

    tr {
        & > :last-child {
            text-align: right;
            
            & > *:not(table) {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                max-width: 100%;
            }
        }

        &:last-child {
            & > td {
                border-bottom: none;
            }
        }

        &:has(a:hover) > td:not(.details-table__nested)  {
            background: $colorBlack004;
        }

        &:not(.open-nested) + :has(td.details-table__nested) {
            display: none;
        }
    }

    // .details-table__green-row
    &__green-row {
        td {
            background: rgba($color: #4AC99B, $alpha: .08);

            &.details-table__colored-text {
                color: #3AA981;
            }
        }
    }
    
    // .details-table__red-row
    &__red-row {
        td {
            background: rgba($color: #F45725, $alpha: .08);

            &.details-table__colored-text {
                color: $colorRed;
            }
        }
    }

    &__mortgage {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 64px;
            height: 64px;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
        }

        svg {
            width: 16px;
            height: auto;
            display: block;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 8px;
    }

}

.nested-table {
    width: 100%;
    border-collapse: collapse;
    text-wrap: nowrap;
    white-space: nowrap;

    // border: 1px solid $colorBlack004;
    // border-radius: 16px;
    overflow: hidden;
    text-align: left;
    background: $colorBlack004;
    
    th {
        
    }

    td {
        border-bottom: 1px solid $colorBlack004;
    }
}

.payments {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $colorBorder;

    @media screen and (min-width: $breakpoint768) {
        display: none;
    }
    @media screen and (max-width: $breakpoint768) {
        @include width100vw;
    }
}

.payment {

    display: flex;
    flex-direction: column;

    // .payment_overdue
    &_overdue {
        background: rgba($color: #F45725, $alpha: .12);
        --border-color: rgba(244, 87, 37, 0.24);
    }
    &_paid {
        background: rgba($color: #4AC99B, $alpha: .32);
        --border-color: rgba(74, 201, 155, 0.24);
    }

    &_open {
        .payment__header {
            border-bottom: 1px solid var(--border-color, $colorBorder);
            &::after {
                rotate: 180deg;
            }
        }
        .payment__body {
            padding: 12px;
            padding-left: calc(16px + 42px + 12px);
            grid-template-rows: 1fr;
        }
    }

    // .payment__header
    &__header {
        display: flex;
        align-items: center;
        gap: 12px; 

        border-top: 1px solid $colorBorder;
        padding: 8px 16px;
        
        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background: url("../img/payments/arrow.svg") center center / contain no-repeat;
            margin-left: auto;
        }
    }

    // .payment__num
    &__num {
        flex-shrink: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: $colorBlack004;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .payment__desc
    &__desc {
    }

    // .payment__date
    &__date {
        color: $colorText2;
    }

    // .payment__sum
    &__sum {
        color: #0D1017;
    }

    &__body {
        padding-left: calc(16px + 42px + 12px);

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
    }

    // .payment__properties
    &__properties {
        display: flex;
        flex-direction: column;
        gap: 8px;

        overflow: hidden;
    }

    // .payment__property

    &__property {
    }

    // .payment__property-title
    &__property-title {
        color: $colorText2;
    }

    // .payment__property-value
    &__property-value {
        color: #0D1017;

        &_overdue {
            color: #F45725;
        }
        &_paid {
            color: #4AC99B;
        }
    }
}

.details-info {

    @media screen and (min-width: $breakpoint768) {
        display: none;
    }

    display: flex;
    flex-direction: column;
    gap: 16px;

    &:not(.open-nested) {
        .details-info {
            &_nested {
                display: none;
            }
        }
    }

    &_nested {
        background: $colorBg;
        border-radius: 16px;
        padding: 12px;
    }

    // .details-info__title
    &__title {
        color: $colorText2;
    }

    // .details-info__value
    &__value {
        color: #0D1017;
    }

    &__columns {
        display: flex;
        gap: 12px;
        align-items: flex-start;
    }

    &__img {
        width: 100px;
        flex: 0 0 100px;
        
        img {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 8px;
            overflow: hidden;
        }

    }

    &__properties {
        display: flex;
        flex-direction: column;
        gap: 16px;    
    }
}

.details-info-list {
 
    @media screen and (min-width: $breakpoint768) {
        display: none;
    }   

    display: flex;
    flex-direction: column;
    gap: 16px;

    & > * {
        @include width100vw;

        padding: 16px;
        padding-top: 0;
        border-bottom: 1px solid $colorBorder;
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.history {

    @media screen and (min-width: $breakpoint768) {
        display: none;
    }
    @media screen and (max-width: $breakpoint768) {
        @include width100vw;
    }

    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $colorBorder;

    // .history__item
    &__item {
        padding: 8px 16px;
        display: flex;
        border-top: 1px solid $colorBorder;
    }

    // .history__left
    &__left,
    &__right {
        flex: 0 0 50%;
    }

    // .history__title
    &__title {
        color: $colorText2;
    }

    // .history__value
    &__value {
        color: #0D1017;
    }

    // .history__right
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.details-documents {
    @media screen and (max-width: $breakpoint768) {
        @include width100vw;
    }
}

.details-document {

    border-top: 1px solid $colorBorder;
    padding: 12px;
    padding-right: 0;

    &:first-of-type {
        border-top: none;
    }

    @media screen and (max-width: $breakpoint768) {
        padding: 12px 16px;
    }
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: $colorText1;
    }

    &__date {
        color: $colorText2;

        @media screen and (max-width: $breakpoint768) {
            display: none;
        }
    }

    &__text {
        margin-top: 4px;
        color: $colorText1;
    }

    &__btns {
        margin-top: 12px;

        display: flex;
        align-items: center;
        gap: 8px;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
            align-items: unset;
            gap: 4px;
            width: 100%;
            .btn {
                padding: 10px;
                gap: 8px;
                @include text-m_bold;

                svg {
                    width: 24px;
                    height: auto;
                }
            }
        }
    }

    &_simple {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 50%;
        background: #F6F6F6;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;;
        }
    }

    &__download {
        margin-left: auto;
    }
}


.details-pagination {
    
    padding-top: 4px;

    display: flex;
    align-items: center;
    gap: 4px;

    @media screen and (max-width: $breakpoint576) {
        justify-content: center;
    }

    // .details-pagination__arrow
    &__arrow {
        flex: 0 0 32px;
        aspect-ratio: 1;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .details-pagination__item
    &__item {

        flex: 0 0 32px;
        aspect-ratio: 1;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 12px;

        // .details-pagination__item_active
        &_active,
        &:hover {
            background: $colorBlack004;
        }
    }

    &__dots {
        pointer-events: none;
    }
}
