
.notifications {

    // .notifications__title
    &__title {
        color: $colorText1;
    }

    // .notifications__body
    &__body {
        margin-top: 8px;
    }

    // .notifications__slider
    &__slider {
        .swiper-slide {
            width: fit-content !important;
            height: auto !important;
        }
    }
}

.notification {

    padding: 12px 16px;
    padding-right: 34px;
    border: 1px solid rgba($color: #79818C, $alpha: .12);
    border-radius: 12px;
    background: #ECECEC;

    display: flex;
    gap: 12px;

    width: min(340px, calc(100vw - 32px));
    height: 100%;
    position: relative;

    // .notification_red
    &_red {
        background: rgba($color: #F45725, $alpha: .12);

        .notification__icon {
            svg {
                path {
                    fill: $colorError;
                }
            }
        }
    }
    
    // .notification_yellow
    &_yellow {
        background: rgba($color: #FFC700, $alpha: .12);

        .notification__icon {
            svg {
                path {
                    fill: $colorWarning;
                }
            }
        }
    }

    // .notification__close
    &__close {
        position: absolute;
        right: 10px; top: 8px;
        
        svg {
            width: 24px;
            height: auto;
        }
    }

    // .notification__icon
    &__icon {
        flex: 0 0 16px;
        margin-top: 3px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    // .notification__body
    &__body {
        display: flex;
        flex-direction: column;
        gap: 4px;

        padding-right: 16px;
    }

    // .notification__title
    &__title {
        color: $colorText1;
    }

    // .notification__text
    &__text {
        color: $colorText1;
        margin-bottom: 8px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    // .notification__btn
    &__btn {
        margin-top: auto;
        color: $colorText1;
        max-width: fit-content;
        * {
            color: $colorText1;
        }

        &.btn {
            background: rgba(0, 0, 0, 0.08);
        }
    }
}


// In Sidebar
.sidebar {
    .notifications {
        margin: -20px;
        height: 100%;
    }
    .notification {

        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $colorBorder;
        padding: 12px 20px;
        width: 100%;
        height: unset;

        display: flex;
        flex-direction: column;
        gap: 4px;

        &:hover {
            background: $colorBlack004;
        }
    
        // .notification__header
        &__header {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        // .notification__title
        &__title {
            color: $colorText1;
            margin-right: auto;
        }

        // .notification__date
        &__date {
            color: $colorText2;
        }

        // .notification__tag
        &__tag {
            padding: 2px 6px;
            background: $colorRed;
            border-radius: 20px;
            color: $colorWhite;
        }
    
        // .notification__body
        &__body {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            padding-right: 0;
        }

        // .notification__text
        &__text {
            color: $colorText1;
            overflow: visible;
            -webkit-line-clamp: unset;
            -webkit-box-orient: unset;

            margin-bottom: 8px;
        }

        // .notification__btns
        &__btns {
            display: flex;
            align-items: center;
            gap: 4px;
            flex-wrap: wrap;
        }

        // .notification__btn
        &__btn {
            &.btn {
                background: $colorBlack004;

                &:hover {
                    background: rgba(0, 0, 0, 0.08);
                }
            }
        }
    }

    
}