/* -------- SHOWCASE -------- */
@mixin grid-showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    & > li {
        flex: 0 0 calc(25% - 24px * 3 / 4);

        @media screen and (max-width: 1366px) {
            flex: 0 0 calc(33% - 24px * 2 / 3);
        }

        @media screen and (max-width: $breakpoint1024) {
            flex: 0 0 calc(50% - 24px / 2);
        }
    }

    .showcase__item {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &:hover {
            position: relative;
            z-index: 2;
            background: unset;

            &::before {
                content: '';
                position: absolute;
                background-color: #FFF;
                left: -12px;
                right: -12px;
                top: -12px;
                bottom: -64px;
                outline: 1px solid $colorBorder;
                border-radius: 24px 24px 12px 12px;
                z-index: -1;
            }

            .showcase__item-btns {
                display: block;
            }
        }
    }

    .showcase__item-img {
        aspect-ratio: 255 / 170;
        width: 100%;
        border-radius: 16px;
        border: 1px solid $colorBorder;


        @media screen and (max-width: $breakpoint1200) {
            margin-top: 0;
        }
    }

    .showcase__item-body {
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        padding: 0;
        width: 100%;
        border-bottom: unset;
    }

    .showcase__item-specifications {
        flex-direction: column;
        align-items: unset;
        gap: 8px;
    }

    .showcase__item-specification {
        flex: unset;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 8px;
    }

    .showcase__item-specification-line {
        display: block;
        flex-grow: 1;
        height: 1px;
        background: rgba($color: #1D2433, $alpha: .65);;
        opacity: .2;
        margin-bottom: 4px;
    }

    .showcase__item-specification-value {
        // font-size: 14px;
        text-align: right;
    }

    .showcase__item-btns {
        margin-top: 0;
        display: none;
    }

    .showcase__fav-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: #FFF;

        &_liked {
            background: rgba($color: #FFF, $alpha: .75);
            svg {
                path {
                    transition: all 120ms ease-out;
                    stroke: $colorRed;
                    fill: $colorRed;
                }
            }
        }

    }

    .showcase__btn {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -16px;
        translate: 0 100%
    }   
}

.showcase-section {
    padding-top: 15px;
    display: flex;
    align-items: flex-start;
    gap: 24px;

    &_map {
        padding: 0;
        position: relative;

        .breadcrumbs {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 68px;
            z-index: 2;
            background-color: #FFF;
            margin-top: 0;
        }

        .showcase {
            position: absolute;
            left: 10px; top: calc(10px + 68px);
            bottom: 10px;
            max-width: 462px;
            width: 100%;
            background-color: #FFF;
            border-radius: 4px;
            border: 1px solid $colorBorder;
            z-index: 2;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 100px 80px rgba(48, 48, 48, 0.07), 0px 23px 31px rgba(48, 48, 48, 0.05), 0px 8px 12px rgba(48, 48, 48, 0.04), 0px 3px 3px rgba(48, 48, 48, 0.03), 0px 100px 80px rgba(48, 48, 48, 0.07), 0px 23px 31px rgba(48, 48, 48, 0.05), 0px 8px 12px rgba(48, 48, 48, 0.04), 0px 3px 3px rgba(48, 48, 48, 0.03);

            @media screen and (max-width: $breakpoint992) {
                max-width: 380px;
                display: none;

                &_active {
                    display: flex;
                }
            }

            &_overlap {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0; left: 0;
                    bottom: 0; right: 0;
                    background: rgba(0, 0, 0, 0.4);
                }
            }

            #all-mortgages {
                display: none;
            }

            &_filtered {
                .showcase__header {
                    flex-direction: row;
                    gap: 4px;

                    & > * {
                        flex: 0 1 50%;
                    }
                }
                #all-mortgages {
                    display: flex;
                }
            }


            &__header {
                padding: 12px;
            }

            &__body {
                margin-top: 0;
                padding: 12px;
                overflow-y: scroll;
                scroll-behavior: smooth;
                flex-grow: 1;

                &::-webkit-scrollbar {
                    background: rgba(250, 250, 250, 1);
                    width: 10px;
                    padding: 0 2px;
                    border-left: 1px solid $colorBorder;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: rgba($colorPrimary, 0.6) ;
                    opacity: .6;
                    width: 6px;
                    border-radius: 8px;
                    border: 2px solid transparent;
                    background-clip: content-box;
                }
            }

            &__grid {
                gap: 12px;

                & > li {
                    flex: 0 0 calc(50% - 12px / 2);
                }

                @media screen and (max-width: $breakpoint992) {
                    @include grid-showcase;
                    gap: 12px;

                    & > li {
                        flex: 0 0 calc(50% - 12px / 2);
                    }
                }


                .showcase__item-img {
                    border-radius: 6px;
                }
            }

            &__item {
                &:hover {
                    position: relative;
                    z-index: 2;
                    background: unset;
        
                    &::before {
                        display: none;
                    }
        
                    .showcase__item-btns {
                        display: none;
                    }
                }

                &_map-mobile {
                    @media screen and (min-width: $breakpoint992) {
                        display: none;
                    }
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    background-color: #FFF;
                    padding: 12px;
                    border: 1px solid $colorBorder;
                    border-radius: 8px;
                    
                    position: absolute;
                    bottom: 62px;
                    left: 10px;
                    right: 10px;

                    .showcase__item-img {
                        margin-top: 0;
                        margin-right: 0;
                        width: 100%;
                        aspect-ratio: 316 / 156;

                        border: 1px solid $colorBorder;
                        border-radius: 6px;
                    }

                    .showcase__item-close {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 40px;
                        background-color: #FFF;
                        border-radius: 6px;

                        &::before {
                            content: url(../img/mortgage-close.svg);
                        }
                    }

                    .showcase__item-body {
                        display: flex;
                        flex-direction: column;
                        align-items: unset;
                        justify-content: unset;
                        padding: 0;
                        width: 100%;
                        border-bottom: unset;
                    }
                
                    .showcase__item-specifications {
                        flex-direction: column;
                        align-items: unset;
                        gap: 8px;
                    }
                
                    .showcase__item-specification {
                        flex: unset;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        gap: 8px;
                    }
                
                    .showcase__item-specification-line {
                        display: block;
                        flex-grow: 1;
                        height: 1px;
                        background: $colorBlack004;
                        opacity: .2;
                        margin-bottom: 4px;
                    }
                
                    .showcase__item-specification-value {
                        font-size: 14px;
                    }
                }
            }

            .showcase__item-specification-title {
                text-overflow: ellipsis;
                white-space: normal;

                @media screen and (max-width: $breakpoint992) {
                }
            }
        }

        .showcase-aside {
            position: absolute;
            left: 10px; top: calc(10px + 68px);
            bottom: 10px;
            max-width: 360px;
            flex: unset;
            z-index: 3;
            background-color: #FFF;
            border-radius: 4px;
            border: 1px solid $colorBorder;
            display: none;
            flex-direction: column;
            padding-bottom: 0;

            &_active {
                display: flex;
            }

            @media screen and (max-width: $breakpoint992) {
                position: fixed;
                height: 100dvh;
                z-index: 10;
                top: 0;
                left: 0;
                background-color: #FFF;
                max-width: 100%;
                padding-bottom: 0;
                flex: unset;
                display: none;
                flex-direction: column;
        
                &_active {
                    display: flex;
                }
            }

            &__mobile-header {
                display: flex;
            }

            &__wrapper {
                padding: 16px;
                overflow-y: scroll;
                flex-grow: 1;

                &::-webkit-scrollbar {
                    background: rgba(250, 250, 250, 1);
                    width: 10px;
                    padding: 0 2px;
                    border-left: 1px solid $colorBorder;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: rgba($colorPrimary, 0.6) ;
                    opacity: .6;
                    width: 6px;
                    border-radius: 8px;
                    border: 2px solid transparent;
                    background-clip: content-box;
                }
            }

            &__mobile-footer {
                display: block;
            }

        }

        .show-showcase {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            border-radius: 0;
            border-top: 1px solid $colorBorder;
            display: none;

            @media screen and (max-width: $breakpoint992) {
                display: flex;
            }
        }

        .show-filters {
            position: absolute;
            top: calc(10px + 68px);
            right: 10px;
            z-index: 2;
            border: 1px solid $colorBorder;
            display: none;

            @media screen and (max-width: $breakpoint992) {
                display: flex;
            }
        }

        .cross-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background-color: #FFF;
            border: 1px solid $colorBorder;

            height: 44px;
            width: 44px;

            position: absolute;
            top: calc(10px + 68px);
            right: 10px;
            z-index: 2;

            @media screen and (max-width: $breakpoint992) {
                display: none;
            }
        }
    }
}


.showcase-aside {
    flex: 0 0 260px;
    max-width: 260px;
    padding-bottom: 80px;


    @media screen and (max-width: $breakpoint992) {
        position: fixed;
        height: 100dvh;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #FFF;
        max-width: 100vw;
        width: 100vw;
        padding-bottom: 0;
        flex: unset;
        display: none;
        flex-direction: column;

        &_active {
            display: flex;
        }
    }

    &__wrapper {
        width: 100%;
        position: sticky;
        top: 100px;

        @media screen and (max-width: $breakpoint992) {
            padding: 16px;
            overflow-y: scroll;
            top: unset;
            background: $colorBg;
        }
    }

    &__mobile-header {
        @media screen and (min-width: $breakpoint992) {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        padding: 20px 16px;
        border-bottom: 1px solid $colorBorder;
    }

    &__mobile-footer {
        @media screen and (min-width: $breakpoint992) {
            display: none;
        }
        padding: 16px;
        border-top: 1px solid $colorBorder;
        margin-top: 0;
    }

    
}

.showcase-filter {

    margin-bottom: 24px;

    // .showcase-filter__title
    &__title {
        
    }

    // .showcase-filter__body
    &__body {
        margin-top: 4px;
    }

    // .showcase-filter__checkboxes
    &__checkboxes {

        &_col {
            
            & .checkbox {
                padding: 2px;
            }
            & > *:not(:last-child) {
                margin-bottom: 8px;

                @media screen and (max-width: $breakpoint992) {
                    margin-bottom: 16px;
                }
            }
        }

        &_row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 10px;
            
            & > * {
                flex: 0 0 25%;
            }
        }
    }
}


.showcase {

    flex: 0 0 calc(100% - 260px - 24px);
    max-width: calc(100% - 260px - 24px);

    border-radius: 16px;
    padding: 24px;
    background: $colorWhite;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: $breakpoint992) {
        max-width: 100%;
        flex: 0 0 100%;
    }   

    @media screen and (max-width: $breakpoint768) {
        @include width100vw;
        border-radius: 0;
        flex: unset;
        max-width: unset;
    }

    // .showcase__header
    &__header {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint992) {
            margin-top: 8px;
            gap: 10px;
        }
    }

    // .showcase__map
    &__map {
        height: 240px;
        border-radius: 12px;
        overflow: hidden;
        background: #FFF;
        position: relative;

        @media screen and (max-width: $breakpoint992) {
            order: 2
        }

        @media screen and (max-width: $breakpoint768) {
            height: 180px;
        }

        @media screen and (max-width: $breakpoint480) {
            height: 121px;
        }
    }

    // .showcase__map-btn
    &__map-btn {
        position: absolute;
        z-index: 2;
        color: $colorPrimary;
        white-space: nowrap;
        left: 50%;
        bottom: 16px;
        translate: -50% 0;
        filter: drop-shadow(0px 100px 80px rgba(48, 48, 48, 0.07)) drop-shadow(0px 23px 31px rgba(48, 48, 48, 0.05)) drop-shadow(0px 8px 12px rgba(48, 48, 48, 0.04)) drop-shadow(0px 3px 3px rgba(48, 48, 48, 0.03));

    }

    // .showcase__sorting
    &__sorting {
        
        color: $colorPrimary;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        margin-top: 24px;

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }

        &_mobile {
            @media screen and (min-width: $breakpoint992) {
                display: none;
            }
            display: flex;
            flex-direction: column;
            gap: 8px;

            & .btn {
                font-size: 16px;
            }
        }
    }

    // .showcase__sorting-col
    &__sorting-col {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    // .showcase__body
    &__body {
        margin-top: 12px;
        border-top: 1px solid $colorBorder;

        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: $breakpoint768) {
            border-top: unset;
            margin-top: 0;
        }

        &_grid {

            @media screen and (min-width: $breakpoint992) {
                margin-top: 24px;
                border-top: unset;
            }
        }
    }

    // .showcase__list
    &__list {
        li:last-of-type {
            .showcase__item {
                border-bottom: none;
            }

            .showcase__item-body {
                border-bottom: unset;
            }
        }

        @media screen and (min-width: $breakpoint992) {
            .showcase__item-specification-title {
                white-space: nowrap;
            }
        }
    }

    // .showcase__grid
    &__grid {
        @media screen and (min-width: $breakpoint992) {
            @include grid-showcase;
        }

        li:last-of-type {
            .showcase__item {
                border-bottom: none;
            }
        }
        
    }

    // .showcase__item
    &__item {
        display: flex;
        align-items: center;
        gap: 24px;
        transition: all 120ms ease-out;

        @media screen and (max-width: $breakpoint1200) {
            align-items: flex-start;
        }

        @media screen and (max-width: $breakpoint768) {
            border-bottom: 1px solid $colorBorder;
        }

        @media screen and (max-width: $breakpoint480) {
            display: block;
        }

        &:hover {
            background-color: #FFF;
        }

    }

    // .showcase__item-img
    &__item-img {
        width: 64px;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
        flex-shrink: 0;

        @media screen and (max-width: $breakpoint1200) {
            margin-top: 20px;
            width: 84px;
        }

        @media screen and (max-width: $breakpoint768) {
            width: 100px;
            margin-top: 12px;
        }

        @media screen and (max-width: $breakpoint480) {
            float: left;
            margin-right: 16px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .showcase__item-body
    &__item-body {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 20px 0;
        justify-content: space-between;
        border-bottom: 1px solid $colorBorder;

        @media screen and (max-width: $breakpoint1200) {
            flex-wrap: wrap;
            row-gap: 8px;
        }


        @media screen and (max-width: $breakpoint768) {
            padding: 12px 0;
            border-bottom: unset;
        }

        @media screen and (max-width: $breakpoint480) {
            display: block;
        }

    }

    // .showcase__item-specifications
    &__item-specifications {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        @media screen and (max-width: $breakpoint768) {
            flex-direction: column;
            gap: 4px;
            align-items: flex-start;
        }
    }

    // .showcase__item-specification
    &__item-specification {
        flex: 0 0 120px;
        gap: 24px;

        @media screen and (max-width: $breakpoint1400) {
            flex: 0 0 60px;
        }

        @media screen and (max-width: $breakpoint992) {
            flex: unset
        }
    }

    // .showcase__item-specification-line
    &__item-specification-line {
        display: none;
    }

    // .showcase__item-specification-title
    &__item-specification-title {
        
        // white-space: nowrap;
        // @include textOverflow(1);

        @media screen and (max-width: $breakpoint1400) {
            font-size: 12px;
        }
    }

    // .showcase__item-specification-value
    &__item-specification-value {
        white-space: nowrap;

        @media screen and (max-width: $breakpoint1400) {
            font-size: 14px;
        }
    }

    // .showcase__item-btns
    &__item-btns {
        display: flex;
        align-items: center;
        gap: 8px;

        @media screen and (max-width: $breakpoint1200) {
            flex: 0 0 100%;
        }

        @media screen and (max-width: $breakpoint480) {
            margin-top: 8px;
        }
    }

    // .showcase__btn
    &__btn {
        @media screen and (max-width: $breakpoint1200) {
            max-width: 100%;
            width: 100%;
        }

        @media screen and (max-width: $breakpoint768) {
            height: 56px;
        }
    }

    // .showcase__fav-btn
    &__fav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 1px solid $colorBorder;
        padding: 8px;

        transition: all 120ms ease-out;

        @media (hover: hover) {
            &:hover {
                background-color: $colorBorder;
            }
        }

        &_liked {
            svg {
                path {
                    transition: all 120ms ease-out;
                    stroke: $colorRed;
                    fill: $colorRed;
                }
            }
        }

        @media screen and (max-width: $breakpoint1200) {
            order: 2;
        }

        @media screen and (max-width: $breakpoint768) {
            height: 56px;
            width: 56px;
            flex-shrink: 0;

            svg {
                width: 24px;
                height: auto;
            }
        }
    }


    // .showcase__pagination
    &__pagination {
        margin-top: 24px;
    }
}

.showcase-map {
    height: calc(100vh - 64px);
    width: 100vw;
    transition: unset;
    
    & * {
        transition: unset;
    }
}

.share-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

