<div class="details__table details-table-wrapper draggable">
    <table class="details-table text-s">
        <thead>
            <tr>
                <th>№</th>
                <th>Cумма</th>
                <th>Дата платежа</th>
                <th>Основной долг</th>
                <th>Проценты</th>
                <th>Остаток задолжности</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr class="details-table__green-row">
                <td>1</td>
                <td>20 746,00 ₽</td>
                <td>10 сентября 2024</td>
                <td>15 209,00 ₽</td>
                <td>5 500,00 ₽</td>
                <td>50 000,00 ₽</td>
                <td class="details-table__colored-text">Оплачен</td>
            </tr>
            <tr class="details-table__red-row">
                <td>2</td>
                <td>20 746,00 ₽</td>
                <td>10 сентября 2024</td>
                <td>15 209,00 ₽</td>
                <td>5 500,00 ₽</td>
                <td>50 000,00 ₽</td>
                <td class="details-table__colored-text">Просрочен</td>
            </tr>
            <tr>
                <td>3</td>
                <td>20 746,00 ₽</td>
                <td>10 сентября 2024</td>
                <td>15 209,00 ₽</td>
                <td>5 500,00 ₽</td>
                <td>50 000,00 ₽</td>
                <td>Предстоящий платёж</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="details__property-accordeons property-accordeons">
    <div class="property-accordeon property-accordeon_open property-accordeon_overdue">
        <div class="property-accordeon__header">
            <div class="property-accordeon__num">1</div>
            <div class="property-accordeon__desc">
                <p class="text-s property-accordeon__date">Платеж 10 сентября 2024</p>
                <p class="text-m property-accordeon__sum">Сумма 20 746, 54 ₽</p>
            </div>
        </div>
        <div class="property-accordeon__body">
            <div class="property-accordeon__properties">
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Основной долг </p>
                    <p class="property-accordeon__property-value text-m">15 209 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Проценты</p>
                    <p class="property-accordeon__property-value text-m">5 500 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Остаток задолжности</p>
                    <p class="property-accordeon__property-value text-m">50 000 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Статус</p>
                    <p class="property-accordeon__property-value property-accordeon__property-value_overdue text-m">Просрочен</p>
                </div>
            </div>
        </div>
    </div>
    <div class="property-accordeon property-accordeon_paid">
        <div class="property-accordeon__header">
            <div class="property-accordeon__num">2</div>
            <div class="property-accordeon__desc">
                <p class="text-s property-accordeon__date">Платеж 10 сентября 2024</p>
                <p class="text-m property-accordeon__sum">Сумма 20 746, 54 ₽</p>
            </div>
        </div>
        <div class="property-accordeon__body">
            <div class="property-accordeon__properties">
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Основной долг </p>
                    <p class="property-accordeon__property-value text-m">15 209 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Проценты</p>
                    <p class="property-accordeon__property-value text-m">5 500 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Остаток задолжности</p>
                    <p class="property-accordeon__property-value text-m">50 000 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Статус</p>
                    <p class="property-accordeon__property-value property-accordeon__property-value_paid text-m">Оплачен</p>
                </div>
            </div>
        </div>
    </div>
    <div class="property-accordeon">
        <div class="property-accordeon__header">
            <div class="property-accordeon__num">3</div>
            <div class="property-accordeon__desc">
                <p class="text-s property-accordeon__date">Платеж 10 сентября 2024</p>
                <p class="text-m property-accordeon__sum">Сумма 20 746, 54 ₽</p>
            </div>
        </div>
        <div class="property-accordeon__body">
            <div class="property-accordeon__properties">
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Основной долг </p>
                    <p class="property-accordeon__property-value text-m">15 209 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Проценты</p>
                    <p class="property-accordeon__property-value text-m">5 500 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Остаток задолжности</p>
                    <p class="property-accordeon__property-value text-m">50 000 ₽</p>
                </div>
                <div class="property-accordeon__property">
                    <p class="property-accordeon__property-title text-s">Статус</p>
                    <p class="property-accordeon__property-value text-m">Предстоящий платёж</p>
                </div>
            </div>
        </div>
    </div>
</div>