.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-align: center;
    padding: 10px;
    border-radius: 12px;

    background: $colorPrimary;
    color: $colorWhite;
    * {
        color: $colorWhite;
    }

    @media screen and (max-width: $breakpoint768) {
        padding: 16px;
    }

    &:disabled {
        opacity: .56;
    }

    &_outline {
        background: none;
        color: $colorPrimary;
        outline: 1px solid $colorBorder;

        * {
            color: $colorPrimary;
        }

        &:hover {
            background: #ECECEC;
        }
    }

    &_transparent {
        background: rgba($colorWhite, .16);
        color: $colorWhite;
        * {
            color: $colorWhite;
        }

        &:hover {
            background: rgba($colorWhite, .32);
        }
    }

    // .btn_secondary
    &_secondary {
        background: $colorBlack004;
        color: $colorText1;

        * {
            color: $colorText1;
        }

        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover {
            background: rgba($color: $colorBlack, $alpha: .08);
        }
    }

    // .btn_s
    &_s {
        padding: 6px 12px;
        gap: 4px;
    }

    &_l {
        padding: 16px;
    }
}