.copy {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    max-width: fit-content;

    &_with_icon {

        &::after {
            content: '';
            width: 16px;
            height: 16px;
            background: url("../img/copy/icon.svg") center center / contain no-repeat;
        }
    }

}