input.input {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid $colorBorder;
        
    background: $colorWhite;

    &:active,
    &:focus-within {
        outline: 2px solid $colorPrimary;
        border-color: transparent;
    }

    &:hover {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    }
}

.input {
    &__caption {
        margin-top: 4px;
    }
    &__wrapper {
        position: relative;
    }
    &__icon {
        position: absolute;
        top: 50%; right: 12px;
        translate: 0 -50%;
        width: 24px; height: 24px;
        display: block;
        cursor: pointer;
    }

    input, select {
        padding: 16px;
        border-radius: 12px;
        border: 1px solid $colorBorder;
        
        background: $colorWhite;
        width: 100%;
    
        &::placeholder {
            color: $colorText2;
            opacity: 0;
        }

        &:disabled {
            color: rgba($color: #1B1F3B, $alpha: .4)
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        line-height: inherit;
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;

    }

    position: relative;
    &[data-placeholder]::before {
        content: attr(data-placeholder);
        z-index: 1;
        position: absolute;
        left: 16px;
        top: 50%;
        translate: 0 -50%;
        color: $colorText2;
        pointer-events: none;

    }

    &[data-placeholder]:has(input:not(:placeholder-shown)),
    &[data-placeholder]:has(input:focus-within) {
        &::before {
            top: 6px;
            translate: none;
            font-size: 13px;
            font-weight: 400;
        }

        input {
            padding-top: 26px;
            padding-bottom: 6px;

            &:disabled {
                outline: none;
                border-color: $colorBorder;
            }
        }
    }

    &[data-placeholder]:has(input:focus-within) {
        input {
            outline: 2px solid $colorPrimary;
            border-color: transparent;
        }
    }

    &_select {
        &[data-placeholder]::before {
            top: 6px;
            translate: none;
            font-size: 13px;
            font-weight: 400;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%; right: 12px;
            translate: 0 -50%;
            width: 24px; height: 24px;
            background: url(../img/select/arrow.svg) center center / contain no-repeat;
        }
        &[data-placeholder] {
            select {
                padding-top: 26px;
                padding-bottom: 6px;
            }
        }
    }

    &_date {
        input {
            &::-webkit-inner-spin-button,
            &::-webkit-calendar-picker-indicator {
                cursor: pointer;
                width: 24px;
                height: 24px;
                background: url(../img/datepicker/icon.svg) center center / contain no-repeat;

                position: absolute;
                right: 16px; top: 50%;
                translate: 0 -50%;
            }
        }
    }

    &_secret {
        
    }

}
