.properties {

    display: flex;
    flex-direction: column;
    gap: 4px;

    // .properties__item
    &__item {
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }

    // .properties__title
    &__title {
        
    }

    // .properties__line
    &__line {
        flex: 1 0 10px;
        height: .6em;
        opacity: .2;
        border-top: 1px solid rgba($color: #1D2433, $alpha: .65);
        pointer-events: none;
    }

    // .properties__value
    &__value {
        font-weight: 600;
        text-align: right;
    }
}

.property {
    display: flex;
    flex-direction: column;
    &__title {
        color: $colorText2;
    }
    &__value {
        margin-top: 2px;
        color: $colorText1;
    }
}

.property-accordeons {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $colorBorder;

    @media screen and (min-width: $breakpoint768) {
        display: none;
    }
    @media screen and (max-width: $breakpoint768) {
        @include width100vw;
    }
}

.property-accordeon {

    display: flex;
    flex-direction: column;

    // .payment_overdue
    &_overdue {
        background: rgba($color: #F45725, $alpha: .12);
        --border-color: rgba(244, 87, 37, 0.24);
    }
    &_paid {
        background: rgba($color: #4AC99B, $alpha: .32);
        --border-color: rgba(74, 201, 155, 0.24);
    }
    &_warning {
        background: rgba($color: $colorWarning, $alpha: .12);
    }

    &_open {
        .property-accordeon__header {
            border-bottom: 1px solid var(--border-color, $colorBorder);
            &::after {
                rotate: 180deg;
            }
        }
        .property-accordeon__body {
            padding: 12px;
            padding-left: calc(16px + 42px + 12px);
            grid-template-rows: 1fr;
        }
    }

    // .payment__header
    &__header {
        display: flex;
        align-items: center;
        gap: 12px; 

        border-top: 1px solid $colorBorder;
        padding: 8px 16px;
        
        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background: url("../img/payments/arrow.svg") center center / contain no-repeat;
            margin-left: auto;
        }
    }

    // .payment__num
    &__num {
        flex-shrink: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: $colorBlack004;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
            overflow: hidden;
        }
    }

    // .payment__desc
    &__desc {
    }

    // .payment__date
    &__date {
        color: $colorText2;
    }

    // .payment__sum
    &__sum {
        color: #0D1017;
    }

    &__body {
        padding-left: calc(16px + 42px + 12px);

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
    }

    // .payment__properties
    &__properties {
        display: flex;
        flex-direction: column;
        gap: 8px;

        overflow: hidden;
    }

    // .payment__property

    &__property {
    }

    // .payment__property-title
    &__property-title {
        color: $colorText2;
    }

    // .payment__property-value
    &__property-value {
        color: #0D1017;

        &_overdue {
            color: #F45725;
        }
        &_paid {
            color: #4AC99B;
        }
    }
}

// In Info
.info {
    .properties {
        
        // .properties__title
        &__title {
            color: $colorWhite06;
        }

        // .properties__line
        &__line {
            border-top: 1px solid $colorWhite;
        }

        // .properties__value
        &__value {
            color: $colorWhite;
        }

    }
}

// In Sidebar
.sidebar {
    .properties {

        // .properties__item
        &__item {
            
        }
    
        // .properties__title
        &__title {
            color: $colorText2;
        }
    
        // .properties__line
        &__line {
            border-color: #E0E0E0;
            opacity: 1;
        }
    
        // .properties__value
        &__value {
            color: $colorText1;
            font-weight: 500;
        }
    }
    
}