.properties {

    display: flex;
    flex-direction: column;
    gap: 4px;

    // .properties__item
    &__item {
        display: flex;
        align-items: flex-end;
        gap: 8px;
    }

    // .properties__title
    &__title {
        color: $colorWhite06;
    }

    // .properties__line
    &__line {
        flex: 1 0 10px;
        height: .6em;
        opacity: .2;
        border-top: 1px solid $colorWhite;
        pointer-events: none;
    }

    // .properties__value
    &__value {
        font-weight: 600;
        color: $colorWhite;
        text-align: right;
    }
}

// In Sidebar
.sidebar {
    .properties {

        // .properties__item
        &__item {
            
        }
    
        // .properties__title
        &__title {
            color: $colorText2;
        }
    
        // .properties__line
        &__line {
            border-color: #E0E0E0;
            opacity: 1;
        }
    
        // .properties__value
        &__value {
            color: $colorText1;
        }
    }
    
}