.radio-inputs {

    display: flex;
    flex-direction: column;
    gap: 4px;

    // .radio-inputs__title
    &__title {
    }

    // .radio-inputs__items
    &__items {
        border-radius: 16px;
        border: 1px solid $colorBorder;
        background: $colorWhite;

        & > * {
            &:not(:last-child) {
                border-bottom: 1px solid $colorBorder;
            }
        }
    }
}

.radio {
    padding: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 12px;

    &_slim {
        padding: 10px;
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $colorSecondary;

        &:checked {
            border: 6px solid $colorPrimary;
        }
    }
}


.check-inputs {
    @extend .radio-inputs;

    &__items {
        @extend .radio-inputs__items;
    }

    &__row {
        display: flex;

        & > * {
            flex: 1;

            &:not(:last-child) {
                border-right: 1px solid $colorBorder
            }
        }
    }
}

@mixin customCheckbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked {
        background: $colorPrimary;
        
        position: relative;
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: url("../img/checkbox/icon-16.svg") center center / contain no-repeat;
        }
    }
}
.check {
    @extend .radio;

    &_slim {
        @extend .radio_slim;
    }

    input[type="checkbox"] {

        width: 16px;
        height: 16px;
        border-radius: 6px;
        background: $colorSecondary;

        @include customCheckbox;
    }
}