/* -------- SELECT -------- */
.select {


    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 8px;

    border-radius: 12px;
    position: relative;

    transition: all 120ms ease-out;
    @media (hover: hover) {
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    &:active,
    &_active {
        background-color: rgba(0, 0, 0, .2);
        border-color: transparent;
    }

    &_big {
        padding: 14px 20px 14px 24px;
    }

    &_border_none {
        border: unset;
    }

    &.select_form {
        justify-content: space-between;

        padding: 16px;
        border-radius: 12px;
        border: 1px solid $colorBorder;
        background: $colorWhite;

        &[data-placeholder]::before {
            content: attr(data-placeholder);
            z-index: 1;
            position: absolute;
            left: 16px;
            top: 50%;
            translate: 0 -50%;
            color: $colorText2;
            pointer-events: none;
    
        }
    
        &[data-placeholder],
        &[data-placeholder]{
            &::before {
                top: 6px;
                translate: none;
                font-size: 13px;
                line-height: 1.6;
                font-weight: 400;
            }
    
            padding-top: 26px;
            padding-bottom: 6px;

        }

        & > span {
            justify-content: space-between;
            width: 100%;
            padding-right: 24px;
            @include textOverflow(1);

            svg {
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                right: 12px;
            }
        }

        
    }


    & > span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition: all 120ms ease-out;
        
    }

    // .select__droplist
    &__droplist {
        position: absolute;
        z-index: 2;
        width: max-content;
        min-width: 100%;
        max-width: min(250%, calc(100vw - 32px));
        left: 0;
        top: calc(100% + 8px);

        background-color: $colorWhite;
        box-shadow: 0px 100px 80px rgba(48, 48, 48, 0.07), 0px 23px 31px rgba(48, 48, 48, 0.05), 0px 8px 12px rgba(48, 48, 48, 0.04), 0px 3px 3px rgba(48, 48, 48, 0.03);
        border-radius: 12px;
        border: 1px solid $colorBorder;
        padding: 8px;
        color: $colorText1;

        display: none;
        flex-direction: column;
        transition: all 120ms ease-out;

        &_active {
            display: flex;
        }

        &_absolute {
            @extend .select__droplist;
            min-width: unset;
        }

        &_right {
            @extend .select__droplist;
            left: unset;
            right: 0;
        }

        &_right-mobile {
            @extend .select__droplist;
            @media screen and (max-width: $breakpoint768) {
                left: unset;
                right: 0;
            }
        }

        &_centered {
            @extend .select__droplist;
            left: 50%;
            translate: -50%;
        }
    }

    // .select__item
    &__item {
        border-radius: 4px;
        transition: all 120ms ease-out;

        a, button {
            padding: 10px 8px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &:hover {
            background-color: $colorBlack004;

            svg {
                g {
                    opacity: 1;
                }
            }
        }
    }
}
