<header class="header">
    <div class="header__inner">
        <a href="investor-index.html" class="header__logo">
            <img src="@img/header/logo.svg" alt="">
        </a>
        <nav class="header__nav">
            <ul class="header__menu text-m color-text-2">
                <li>
                    <a href="investor-index.html" @@if (activeItem === 'portfolio') { class="active" }>Портфель</a>
                </li>
                <li>
                    <a href="showcase-mortgages.html" @@if (activeItem === 'showcase') { class="active" }>Что купить</a>
                </li>
                <li>
                    <a href="favourites.html" @@if (activeItem === 'fav') { class="active" }>Избранные</a>
                </li>
                <li>
                    <a href="investor-history.html" @@if (activeItem === 'history') { class="active" }>История операций</a>
                </li>
            </ul>
        </nav>
        <div class="header__right">
            <div class="header-icon tooltip-item" data-notifications="4" data-sidebar-open="notifications">
                <img src="@img/header/notifications.svg" alt="">
                <div class="tooltip text-s">Уведомления</div>
            </div>
            <div class="header-icon header-icon_profile" data-sidebar-open="profile">
                <div class="header-icon__img">
                    <img src="@img/header/avatar.svg" alt="">
                </div>
                <div class="header-icon__text">
                    <p class="text-m">Глухова Эльвира</p>
                    <p class="text-xs color-text-2">+7 989 768-12-24</p>
                </div>
            </div>
            <a href="login.html" class="header-icon tooltip-item">
                <img src="@img/header/exit.svg" alt="">
                <div class="tooltip text-s">Выход</div>
            </a>
        </div>
    
        <div class="header__burger">
            <span></span>
        </div>
    </div>
</header>