/* -------- GLOBAL -------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontPrimary;
    color: $colorPrimary;
}

*,
*::after,
*::before {
    transition: $quickTransition;
}

.container {
    max-width: calc($conteinerWidth + 2 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerPadding;

    &_wide {
        max-width: calc(1640px + clamp(16px, 3vw, 40px) * 2);
        padding: 0 clamp(16px, 3vw, 40px);
    }

}


html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $colorBg;
}

main {
    padding-top: 32px;
    padding-bottom: 36px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}
.lock-clip {
    overflow-y: clip;
    overflow-x: clip;
}

.text-with-img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-center {
    text-align: center;
}

.two-columns {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    & > :first-child {
        flex: 0 0 calc(100% - 390px - 24px);
        max-width: calc(100% - 390px - 24px);
    }
    
    & > :last-child {
        flex: 0 0 390px;
    }

    @media screen and (max-width: $breakpoint992) {
        flex-direction: column-reverse;
        
        & > :first-child {
            max-width: unset;
        }
        & > :last-child {
            flex: unset;
        }
    }

    @media screen and (max-width: $breakpoint992) and (min-width: $breakpoint768) {
        & > :first-child,
        & > :last-child {
            width: 100%;
        }
    }

    @media screen and (max-width: $breakpoint768) {
        
        & > :last-child {
            @include width100vw;
            border-radius: 0;
            padding: 16px;
        }
    }
}