@use "sass:math";

@mixin flexColumns($count, $gap) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;

    & > * {
        flex: 0 0 calc(100% / $count - $gap * ($count - 1) / $count);
    }
}

@mixin clamp($property, $min, $max, $dynamic: null) {
    @if $dynamic == null {
        $dynamic: math.div($max, 10);
    }
    #{$property}: clamp(#{$min}px, #{$dynamic}vw, #{$max}px);
}

@mixin textOverflow($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin scrollX {
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

@mixin scrollY {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

@mixin width100vw {
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
}