@mixin h2 {
    font-style: normal;
    font-weight: 600;
    @include clamp(font-size, 36, 44);
    line-height: 1.1;
}

.h2 {
    @include h2;
}

@mixin h3 {
    font-style: normal;
    font-weight: 600;
    @include clamp(font-size, 28, 36);
    line-height: 1.1;
}

.h3 {
    @include h3;
}

@mixin text-l {
    font-style: normal;
    font-weight: 500;
    @include clamp(font-size, 15, 17);
    line-height: 1.65;

    &_bold {
        font-weight: 700;
    }
}
.text-l {
    @include text-l;
}

@mixin text-m {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
}
@mixin text-m_bold {
    @include text-m;
    font-weight: 600;
}

.text-m {

    @include text-m;

    &_bold {
        font-weight: 600;
    }

}

@mixin text-s {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.53;
}
.text-s {
    @include text-s;

    &_bold {
        font-weight: 600;
    }
}

@mixin text-xs {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 0.4px;
}
.text-xs {
    @include text-xs;
}

.color-text-2 {
    color: $colorText2;

    * {
        color: $colorText2;
    }
}