// Container
$conteinerWidth: 1120 + px;
$containerPadding: clamp(16px, 3vw, 40px);

// Breakpoints
$breakpoint1440: 1439.98 + px;
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBg: #F2F3F5;
$colorText1: rgba(25, 28, 48, 0.9);
$colorText2: #6B6D80;
$colorPrimary: #303345;
$colorSecondary: #F4F4F4;
$colorBorder: #E0E0E0;
$colorRed: #E02D3C;
$colorWhite06: rgba($colorWhite, .6);
$colorBlack004: rgba($colorBlack, .04);

// Fonts
$fontPrimary: "Inter";

// Layers
$headerLayer: 9;
$popupLayer: 10;
$loaderLayer: 999;

// Burger
$burgerBreakpoint: $breakpoint1024;

// Transitions
$quickTransition: all 120ms ease-out;

// Shadows
$shadowDefault: 0px 4px 24px rgba(0, 0, 0, 0.12);
